.App {
  text-align: left;
  word-wrap:normal; 
  font-size: 15pt; 
}

.Main{
  margin-top: 150px;
  padding: 4%; 
}

p{
  font-size: 15pt; 
 
}


.search-form input {
  border-radius: 5px; 
  border-color: rgb(194, 194, 194);
  margin: 0 10px; 
  border-style: solid; 
  border-width: thin;
}
.home h1 {
  text-align: center;
  padding: 10px;
  margin:0; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #546FA6;
  color: white;
}

.user-page h4 {
  text-align: center;
  padding: 10px;
  margin:0; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #546FA6;
  color: white;
}

.message {
  background-color:rgb(236, 236, 236);
  border-radius: 4px;
  text-align: center;
  width: 40%; 
}

.home h3 {
  color: #3B343D;
}

.genre-border {
  border: solid;
  border-color: #546FA6;
  background-color: #546FA6; 
  height: 1px; 
  width: 90%;
  margin-left: 0; 
}

.genre-sec h2 {
  padding-bottom: 1px; 
}

.features, .reading-list{
  padding: 0 10px; 
  margin: 0; 
  border: 0; 
  font-size: 18pt;
  border:#546FA6;
  border-style: solid; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 2px;  
}


nav{
  overflow: hidden;
  float: left;
  position: fixed; 
  top: 0px;
  width: 100%; 
  height: 10%; 
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0.5px 4px;
}

nav a {
  float: inline-start; 
  padding: 10px 10px;
  text-decoration-line: none;
  font-weight: 400;
  color: #546FA6;
}

nav a:visited {
  color: #546FA6;
}
nav form {
  float: right; 
  display: inline;
  padding: 20px;
}


button {
  padding: 7px 10px; 
  border-radius: 5px; 
  color: white;
  background-color: #546FA6; 
  border-style: none;
  font-weight: bold; 
}

button:hover {
  background-color: #3B343D;
}

.manhwa-general-info {
  display: flex;
}

.manhwa-general-info section {
  padding: 30px;
}
.user-info {
  text-align: center; 
}

.user-info label {
  display: block; 
}

.user-info input {
  border-radius: 5px; 
  border-color: rgb(194, 194, 194);
  padding: 1% 20%; 
  border-style: solid; 
  border-width: thin;
  text-align: left; 
}

.user-input {
  padding: 10px 0  
}
.register-requirements {
  inline-size: 60%; 
  overflow-wrap: break-word; 
  font-size: 15px;
  color:rgb(110, 110, 110)
}

.user-enter { 
  display: inline-block; 
  text-align: left; 
}

.go-sign-in {
  padding: 5% 0; 
  font-size: 15px; 
  color:rgb(110, 110, 110);
}

.info-bottom {
  text-align: center; 
  font-size: 15px; 
  color:rgb(110, 110, 110);
}

.login-input {
  padding: 5% 20%; 
}

.filter {
  border-color: #546FA6;
  border-radius: 8px;
  border-style: solid;
}


tr, td{
  color:#3B343D;
  border-width: 0 0 3px 0;
  border-style:solid;
}

.check {
  color: green;
  padding: 0 15px; 
}

.x-mark {
  color: red;
  padding: 0 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

a:visited{
  color: #6e7267;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  size: 10pt;
  width: 300px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  border:3px solid black;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color:white;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
